# Registry for images
REGISTRY=
REGISTRY_USER=
REGISTRY_PASSWORD=

# SSH host for remote deploy (can also be set in make, e.g. SSH_HOST=user@host)
SSH_HOST=
SSH_PASSWORD=
SSH_KEY=~/.ssh/id_rsa
REMOTE_DIR=~/swarm-app
STACK_NAME=swarm-app

# Semantic version (used in image tags)
VERSION=0.0.1

APP_SECRET=

